

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-2 text-center py-3 px-3 border-bottom">
        <b>Transaction details (sell)</b>
        <div style="float: left;font-size: 18px;">
          <img src="assets/img/arrow.png" width="18px"> &nbsp;&nbsp; $ Apple
        </div>
      </div>
    </div>

    <div class="row px-2 py-3">
      <div class="col-12">
        <b class="heading">Current price: $432.34</b>
      </div>
      <div class="col-12 mt-4">
        <b class="heading">Sell:</b>
      </div>
      <div class="col-12">
        <div class="sell">
          <span class="dollar"><b>$</b></span>
        <input type="text" class="input">
        <span><b class="equal">=</b></span>
        <input type="text" class="input">
        <span class="shares"><b>shares</b></span>
      </div>
      </div>
      <div class="col-12">
        <button class="btn-outlines active">One time</button>
        <button class="btn-outlines">Every day</button>
        <button class="btn-outlines">Every week</button>
        <button class="btn-outlines">Evey two week</button>
        <button class="btn-outlines">Every month</button>
      </div>
      <div class="col-12">
        <button class="btn-green">Sell</button>
      </div>

      <div class="col-12 mt-5">
        <b class="heading">Your position</b>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col prices">
            <span class="d-block">Shares</span>
            <b>12,334.56</b>
          </div>
          <div class="col prices">
            <span class="d-block">Avg. cost</span>
            <b>$123.45</b>
          </div>
          <div class="col prices">
            <span class="d-block">Market value</span>
            <b>$345,455,567</b>
          </div>
          <div class="col prices">
            <span class="d-block">Portfolio diversity</span>
            <b>15.34%</b>
          </div>
          <div class="col prices">
            <span class="d-block">Today’s return</span>
            <b>+$123,445 <span class="g-text"> (+1.54%)</span></b>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2 prices">
        <span class="d-block">Today’s return</span>
        <b>+$123,445 <span class="g-text"> (+1.54%)</span></b>
      </div>
    </div>
  </div>
</ion-content>
