.angular-editor-textarea{
  border: none !important;
}
ion-modal {
  --height: 32rem;
  --width:50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@media only screen and (max-width: 768px) {
  ion-modal {
    --height: 32rem;
    --width:90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

// ion-modal ion-toolbar {
//   --background: #2dd36f;
//   --color: white;
// }
#myFileInput{
  position: absolute;
  opacity: 0;
}

.scroll-items {
  justify-content: flex-start; // changed
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}
.scroll-items ion-col { // added
    display: flex;
    flex-wrap: nowrap;
}
