<form [formGroup]="orderForm" style="padding: 10px;">
  <div formArrayName="items" *ngFor="let item of orderFormControl.controls; let i = index;let last = last;">
    <div [formGroupName]="i">
      <ion-row style="margin-top: 10px;">
        <ion-col size="12">
          <ion-label>Old password</ion-label>
          <ion-item lines="none" fill="outline" style="margin-top: 10px;margin-bottom: 10px;">
            <ion-input placeholder="Password" formControlName="old_password"
              [type]="password3"></ion-input>
            <ion-icon class="suffix-icon" (click)="showPassword3('text')" *ngIf="password3==='password'" color="dark"
              name="eye-off" slot="end"></ion-icon>
            <ion-icon class="suffix-icon" (click)="showPassword3('password')" *ngIf="password3==='text'" color="dark"
              name="eye" slot="end"></ion-icon>
          </ion-item>
          <ion-text color="danger"
            *ngIf="(isSubmitted) && orderForm.get('items')['controls'][i].controls.old_password.errors?.required">
            Old password is required.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10px;">
        <ion-col size="12">
          <ion-label>New password</ion-label>
          <ion-item lines="none" fill="outline" style="margin-top: 10px;margin-bottom: 10px;">
            <ion-input placeholder="Password" formControlName="password" (ionChange)="checkValue()"
              [type]="password"></ion-input>
            <ion-icon class="suffix-icon" (click)="showPassword('text')" *ngIf="password==='password'" color="dark"
              name="eye-off" slot="end"></ion-icon>
            <ion-icon class="suffix-icon" (click)="showPassword('password')" *ngIf="password==='text'" color="dark"
              name="eye" slot="end"></ion-icon>
          </ion-item>
          <ion-text color="danger" style="margin-left: 15px;"
            *ngIf="(isSubmitted) && !isEightCharater">
            Minimum 8 characters <br/><br/>
          </ion-text>
          <ion-text color="danger" style="margin-left: 15px;"
            *ngIf="(isSubmitted) && !oneUpperLowerCase">
            One uppercase & lowercase letter <br/><br/>
          </ion-text>
          <ion-text color="danger" style="margin-left: 15px;"
            *ngIf="(isSubmitted) && !oneNumber">
            One number  <br/><br/>
          </ion-text>
          <ion-text color="danger" style="margin-left: 15px;"
            *ngIf="(isSubmitted) && !oneSpecial">
            One special character
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label>Confirm password</ion-label>
          <ion-item lines="none" fill="outline" style="margin-top: 10px;margin-bottom: 10px;">
            <ion-input placeholder="Password" [type]="password2" formControlName="new_password"></ion-input>
            <ion-icon class="suffix-icon" (click)="showPassword2('text')" *ngIf="password2==='password'"
              color="dark" name="eye-off" slot="end"></ion-icon>
            <ion-icon class="suffix-icon" (click)="showPassword2('password')" *ngIf="password2==='text'"
              color="dark" name="eye" slot="end"></ion-icon>
          </ion-item>
          <ion-text color="danger"
            *ngIf="(isSubmitted) && orderForm.get('items')['controls'][i].controls.new_password.errors?.required">
            Confirm password is required.
          </ion-text>
          <ion-text color="danger"
            *ngIf="(isSubmitted) && orderForm.get('items')['controls'][i].controls.new_password.errors?.NoPassswordMatch">
            Password do not match.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="submit()" style="margin-top: 10px;--border-radius: 20px;" size="default"
             color="success" size="default">Change password</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</form>
