<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12 p-2 px-3 border-bottom">
        <b class="title">Home</b>
      </div>
    </div>
    <div class="row px-2 mt-3">
      <div class="col-12 p-2 mb-3">
        <b class="title">Simulated trading portfolio</b>&nbsp;
        <b class="title" style="color: #d3d3d3">(Coming soon)</b>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row">
      <div class="col-6 px-3">
        <b class="title">$15,436.33</b>
        <span class="g-text d-block font-12">+$134.34 (.86%) past hour</span
        ><br />
        <img src="assets/img/chart-3.png" width="100%" />
        <div class="chart-border">
          <button class="btn-chart">Live</button>
          <button class="btn-chart avtive-btn">1h</button>
          <button class="btn-chart">1d</button>
          <button class="btn-chart">1w</button>
          <button class="btn-chart">3m</button>
          <button class="btn-chart">1y</button>
          <button class="btn-chart">5y</button>
          <button class="btn-chart">all</button>
        </div>
        <div class="row mt-3 mx-1">
          <div class="col-3">
            <b class="stock">#324,567</b>
            <span class="font-sm font-12 d-block">in the World</span>
          </div>
          <div class="col-3">
            <b class="stock">#74,567</b>
            <span class="font-sm font-12 d-block">in the World</span>
          </div>
          <div class="col-3">
            <b class="stock">#2,567</b>
            <span class="font-sm font-12 d-block">in the World</span>
          </div>
          <div class="col-3">
            <b class="stock">#7</b>
            <span class="font-sm font-12 d-block">in the World</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-4">
        <div class="row">
          <div class="col-6"></div>
          <div class="col-3 text-right">
            <span class="font-sm font-12 d-block">Price</span>
          </div>
          <div class="col-3 text-right">
            <span class="font-sm font-12 d-block">Portfolio</span>
          </div>
        </div>
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
        <div class="border-stock mx-1 my-3">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
        <div class="border-stock mx-1 my-3">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
        <div class="border-stock mx-1 my-3">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
        <div class="border-stock mx-1 my-3">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
        <div class="border-stock mx-1 my-3">
          <div class="row">
            <div class="col-6">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
            <div class="col-3 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row mt-1 px-2">
      <div class="col-12">
        <button
          class="outline-btn me-2"
          *ngIf="vestLogin"
          routerLink="/app/profile"
          style="padding-bottom: 5px;"
        >
          <img
            src="{{profile_img_path}}{{userDetail?.profile_image}}"
            class="btn-img"
            width="20px"
            height="20px"
            style="border-radius: 50px;"
          /><b>Profile</b>
        </button>
        <button
          class="outline-btn me-2"
          *ngIf="vestLogin"
          routerLink="/app/messages"
        >
          <b>Messages</b>
        </button>
        <button
          class="outline-btn me-2"
          *ngIf="vestLogin"
          routerLink="/app/notifications"
        >
          <b>Notifications</b>
        </button>
        <button
          class="outline-btn me-2"
          *ngIf="vestLogin"
          (click)="setOpen(true)"
        >
          <b>Create List</b>
        </button>
        <button *ngIf="vestLogin" class="outline-btn me-2">
          <b>Schedule</b>
        </button>
        <button
          class="outline-btn me-2"
          *ngIf="vestLogin"
          (click)="goToDraft()"
        >
          <b>Drafts</b>
        </button>
        <button *ngIf="vestLogin" (click)="logout()" class="outline-btn me-2">
          <b>Log out</b>
        </button>
        <button
          *ngIf="!vestLogin"
          routerLink="/home/signup"
          class="outline-btn me-2"
        >
          <b>Sign In</b>
        </button>
      </div>
    </div>

    <div class="row mt-4 px-2">
      <div class="col-12 p-2">
        <b class="title">Following</b>
      </div>
    </div>
    <div
      class="row"
      *ngIf="allStockData.length == allStockSymbolData.length && vestLogin"
    >
      <div class="col-4 mt-2" *ngFor="let item of allStockData; let i=index">
        <div class="border-stock mx-1 my-2" (click)="goTodetails(item.symbol)">
          <div class="row">
            <div class="col-7">
              <b class="stock">{{item.symbol}}</b>
              <span class="font-sm font-12 d-block">{{item.name}}</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">{{item.close | currency}}</b>
              <span
                class="g-text d-block font-12"
                [ngClass]="{'g-text': getPercentageStocks2(item).key, 'r-text': !getPercentageStocks2(item).key}"
                >{{ getPercentageStocks2(item).value | number : "1.1-1"
                }}%</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 px-2">
      <div class="col-6 p-2">
        <b class="title">Headlines today</b>
      </div>
    </div>
    <div
      class="row px-2 checkhover"
      *ngFor="let item of StocksNews?.feed; let i=index"
    >
      <div class="col-10">
        <h6 (click)="item.readmore=!item.readmore"><b>{{item.title}}</b></h6>
        <p class="para" *ngIf="item.readmore" (click)="openUrl(item.url)">
          {{item.summary}} - {{getNowDate(item.UpdatedAt) | timeAgo }}
        </p>
      </div>
      <div class="col-2">
        <img
          [src]="item.banner_image"
          alt="logo{{i}}"
          width="100%"
          class="border-rad"
        />
      </div>
      <br />
    </div>

    <div class="row mt-4 px-2">
      <div class="col-6 p-2">
        <b class="title">Tech Stocks</b>
      </div>
      <div class="col-6 pt-2 text-right">
        <b class="title-2"><u>Today</u></b>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="border-stock mx-1 my-2">
          <div class="row">
            <div class="col-7">
              <b class="stock">TSLA</b>
              <span class="font-sm font-12 d-block">Tesla Inc</span>
            </div>
            <div class="col-5 text-right">
              <b class="stock">$324.15</b>
              <span class="g-text d-block font-12">+15.41%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-modal [isOpen]="isAddList" (willDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar style="--background: transparent">
          <ion-title>Create list</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item
          fill="outline"
          style="--background: transparent"
          color="success"
        >
          <ion-label position="floating">Create name</ion-label>
          <ion-input
            class="newshead"
            placeholder="Enter text"
            [(ngModel)]="username"
          ></ion-input>
        </ion-item>
        <br />
        <ion-button
          *ngIf="!list_uid"
          (click)="createUserList()"
          fill="outline"
          shape="round"
          [disabled]="!username || isUsername"
          color="success"
        >
          Create
        </ion-button>
        <ion-button
          *ngIf="list_uid"
          (click)="editUserList()"
          fill="outline"
          shape="round"
          [disabled]="!username || isUsername"
          color="success"
        >
          Edit
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
