h2 {
  position: absolute;
  left: 55%;
  right: 10%;
  width: 35%;
  top: 0%;
  bottom: 45.9%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.001em;
  color: #FFFFFF;
}
ion-icon {
  font-size: 24px;
  cursor: pointer;
}
.separator{
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator label{
  padding: 0 0.4em;
  position: relative;
}

.separator:before{
  content: '';
  border-style: solid;
  border-width: 0 0 1px 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 40%;
  border-color:#E1E2E8;
}
.separator:after{
  content: '';
  border-style: solid;
  border-width: 0 0 1px 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40%;
  border-color:#E1E2E8;
}

#phone:before {
  content: "+1";
}
